<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>nanam</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>



     
     
     <!--  

	<servlet>

		<servlet-name>mainBack</servlet-name>

		<servlet-class>member.back.MainBack</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>mainBack</servlet-name>

		<url-pattern>/mainBack</url-pattern>

	</servlet-mapping>








	<servlet>

		<servlet-name>main</servlet-name>

		<servlet-class>main.Main</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>main</servlet-name>

		<url-pattern>/main</url-pattern>

	</servlet-mapping>




	<servlet>

		<servlet-name>agree</servlet-name>

		<servlet-class>member.controller.Agree</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>agree</servlet-name>

		<url-pattern>/member/agree</url-pattern>

	</servlet-mapping>




	<servlet>

		<servlet-name>agreeBack</servlet-name>

		<servlet-class>member.back.AgreeBack</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>agreeBack</servlet-name>

		<url-pattern>/member/agreeBack</url-pattern>

	</servlet-mapping>





	<servlet>

		<servlet-name>joinBack</servlet-name>

		<servlet-class>member.back.JoinBack</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>joinBack</servlet-name>

		<url-pattern>/member/joinBack</url-pattern>

	</servlet-mapping>


	<servlet>

		<servlet-name>join</servlet-name>

		<servlet-class>member.controller.Join</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>join</servlet-name>

		<url-pattern>/member/join</url-pattern>

	</servlet-mapping>




	<servlet>

		<servlet-name>loginBack</servlet-name>

		<servlet-class>member.back.LoginBack</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>loginBack</servlet-name>

		<url-pattern>/member/loginBack</url-pattern>

	</servlet-mapping>



	<servlet>

		<servlet-name>login</servlet-name>

		<servlet-class>member.controller.Login</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>login</servlet-name>

		<url-pattern>/member/login</url-pattern>

	</servlet-mapping>


	<servlet>

		<servlet-name>logoutBack</servlet-name>

		<servlet-class>member.back.LogoutBack</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>logoutBack</servlet-name>

		<url-pattern>/member/logoutBack</url-pattern>

	</servlet-mapping>


	<servlet>

		<servlet-name>logout</servlet-name>

		<servlet-class>member.controller.Logout</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>logout</servlet-name>

		<url-pattern>/member/logout</url-pattern>

	</servlet-mapping>


	<servlet>

		<servlet-name>idFindBack</servlet-name>

		<servlet-class>member.back.IdFindBack</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>idFindBack</servlet-name>

		<url-pattern>/member/idFindBack</url-pattern>

	</servlet-mapping>

  	<servlet>

		<servlet-name>idFind</servlet-name>

		<servlet-class>member.controller.IdFind</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>idFind</servlet-name>

		<url-pattern>/member/idFind</url-pattern>
	</servlet-mapping>
	
	
	<servlet>

		<servlet-name>pwdFindBack</servlet-name>

		<servlet-class>member.back.PwdindBack</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>pwdFindBack</servlet-name>

		<url-pattern>/member/pwdFindBack</url-pattern>

	</servlet-mapping>

  	<servlet>

		<servlet-name>pwdFind</servlet-name>

		<servlet-class>member.controller.PwdFind</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>pwdFind</servlet-name>

		<url-pattern>/member/pwdFind</url-pattern>
	</servlet-mapping>

	<servlet>

		<servlet-name>idFindResult</servlet-name>

		<servlet-class>member.controller.IdFindResult</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>idFindResult</servlet-name>

		<url-pattern>/member/idFindResult</url-pattern>
	</servlet-mapping>

   -->
</web-app>