<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>



<script>


	$(function() {//startWithready

		
		$("#toList").click(function(){
			
		
			var a=$(location).attr('href');
			alert(a);
			
		});
		
		
			
			$("#modifyBtn").on("click",function(e){
			
			
			e.preventDefault();

			var title = $("input[name='title']");

			var content = $("textarea[name='content']");

			
			if ( title.val()!=$.trim(title.val()) ) {

				alert("제목의 앞뒤 공백을 제거해주세요");
				
				title.focus();
				return false;	
				 
				
			}else if(title.val().trim().length<1){	
				
				
				title.focus();
				alert("제목을 입력해주세요")
				return false;
			 
			}else if(content.val().trim().length<1){
				
				
				
				alert("콘텐츠 값을 입력해주세요");
				content.focus();
				return false;
				
			}else{
			
				
			     $.fn.serializeObject = function() { 
			         var obj = null; 
			         try { 
			             if(this[0].tagName && this[0].tagName.toUpperCase() == "FORM" ) { 
			                 var arr = this.serializeArray(); 
			                 if(arr){ obj = {}; 
			                 $.each(arr, function() { 
			                     obj[this.name] = this.value; }); 
			                 } 
			             } 
			         }catch(e) { 
			             alert(e.message); 
			         }finally {} 
			         return obj; 
			       }
			     
			     
			    
			           const serializedValues2 = $('#insertForm').serializeObject()

		
				
				$.ajax({
					async:false,
				    url: "/api/update",  
				 	dataType:"json",
				    data:JSON.stringify(serializedValues2),
				    type: "POST",  
				 	contentType: "application/json; charset=UTF-8" ,
				    
				    success: function(data,request, status, error,cause){        
					    
				    	console.log(data)
				    	
				    	if(data.resultStr=="fail"){
				    		
				    		alert("길이를 50자로 제한 하세요")
				    		return false;
				    		
				    	}else{
				    		
				    		location.href="/api/main";
				    		
				    	}
				   	
				    },

				    error: function (){        
				      // ajax와 서버가 정상적으로 소통되지 않았을때 
				    
				     
				   
				    }

				  });//endOfAjax
				
				
						
				}
			});//endofModifyBtnClick
				
				
			$("#deleteBtn").on('click',function(){
				
				var num=$("input[name='num']").val();
				
				
				
				$.ajax({
					async:false,
				    url: "/api/delete",  
				 	dataType:"json",
				    data:{"num":num},
				    type: "GET",  
				 	contentType: "application/json; charset=UTF-8" ,
				    
				    success: function(data){
				    	
				    	location.href="/api/main"
				   	
				    },

				    error: function (request, status, error){        
				      // ajax와 서버가 정상적으로 소통되지 않았을때 
				      console.log(status) , alert(error);
				      
				      
				      alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);

				    }

				  });//endOfAjax
				
				
				
			});
			

});//endOfready
</script>



<body>
	
	
	<div>
		<h1>자유게시판</h1>
	</div>
	
	
	<div style="width:650px;" align="right">
		<a th:href="@{'main'}" id="toList">리스트로</a>
	</div>
	<hr style="width: 600px">

	
	<form id="insertForm" name="insertForm">
		<input type="hidden" name="num" th:value='${detail.num}'  />
		<table border="1">
			<tbody>
				<tr>
					<td style="width: 150px;" align="center">타입 :</td>
					<td style="width: 400px;">
						<select name="codeType">
							<option class="option" value="01" >자유</option>
							
							<option class="option" value="02" >익명</option>
							
							<option class="option" value="03" >QnA</option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="width: 150px;"align="center">이름 :</td>
					<td th:block style="width: 400px;"><input type="text" name="name" th:value='${detail.name}' readonly/></td>
				</tr>
				<tr>
					<td style="width: 150px;"align="center">제목 :</td>
					<td  th:block style="width: 400px;"><input type="text" name="title"  th:value='${detail.title}'/></td>
				</tr>
				<tr>
					<td style="width: 150px;"align="center">내용 :</td>
					<td th:block style="width: 400px;"><textarea name="content" rows="25" cols="65" th:value="${detail.content}" th:text="${detail.content}"></textarea></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td align="right">
					<input type="button" value="수정" id="modifyBtn">
					<input type="button" value="삭제" id="deleteBtn" >
					<input type="button" value="취소" onclick="location.href='./main.ino'">
					
					&nbsp;&nbsp;&nbsp;
					</td>
				</tr>
			</tfoot>
		</table>

	</form>


</body>
</html>